* {
    box-sizing: border-box;
}

/* Search box */

#search {
    max-width: 320px;
    margin: 0 auto;
}

input {
    width: 320px;
    border 1px solid #ddd;
    margin-bottom: 12px;
    margin-top: 40px;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px;
}

/* Style thumbnails */

#lightgallery {
    max-width: 320px;
    margin: 60px auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li a {
    display: inline-block;
    margin: 0;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 18px;
    color: #888;
}

a {
    width: 250px;
    text-align: center;
}

/* 
#lightgallery img {
    margin: 25px auto 25px 18%;
}

#lightgallery a {
    text-decoration: none;
    margin: 0 auto;
}
*/

/* Adjust content of buttons in lightbox */
.lg-actions .lg-next:before {
    content: "\21E2";
}

.lg-actions .lg-prev:before {
    content: "\21E0";
}

.lg-actions .lg-prev:after {
    content: none;
}

.lg-toolbar .lg-close:after {
    content: "\2573";
}

.lg-fullscreen:after {
    content: "\2197";
}

.lg-fullscreen-on .lg-fullscreen:after {
    content: "\2199";
}

.lg-outer .lg-toogle-thumb:after {
    content: "\2193";
}


/* media queries */
@media screen and (min-width: 768px) {
    #lightgallery {
        max-width: 760px;
        margin: 60px auto;
    }
    
    #lightgallery img {
        margin: 25px;
    }
    
    ul {
        margin: 0 auto;
    }
    
    li {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    #lightgallery {
        max-width: 1015px;
        margin: 60px auto;
    }
    
    #lightgallery img {
        margin: 25px;
    }
    
    ul {
        margin: 0 auto;
    }
    
    li {
        margin-bottom: 0;
    }
}